@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818 ;
  position: relative;
  z-index: 0;
}
body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/assets/images/arabic_pattern2.png);
  opacity: 0.03;
  background-size: contain;
  background-repeat: repeat-y;
  z-index: -20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-teko{
  font-family: 'Teko', Arial, Helvetica, sans-serif;
}
.font-archivo{
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
}
.font-nunito{
  font-family: 'Nunito', sans-serif;
}
.font-arial{
  font-family: 'Arial', sans-serif;
}

@layer components{
  .hover-nav{
    @apply bg-clip-text hover:bg-gradient-to-r hover:from-[#DBBA51] hover:to-[#D2AC47];
  }
  .gold-btn{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#DBBA51] to-[#D2AC47];
  }
  .gold-text{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#E0AA3E] to-[#E0B95A] font-semibold;
  }
  .case-btn{
    @apply text-[#CCA354] font-medium border-2 border-[#cca354] shadow-[0px_0px_15px_rgba(204,163,84,0.2)] mxs:mt-14 3xs:mt-12 mt-10 mxs:px-7 px-4 mxs:py-3 py-2 transition-colors duration-200 hover:bg-[#cca354] hover:text-[#181818];
  }
  .case-btn-blk{
    @apply text-[#CCA354] border-y-[3px] bg-black md:border-transparent border-b-[#CCA354] border-t-transparent mxs:mt-14 3xs:mt-12 mt-2 mxs:ml-3 3xs:ml-1.5 ml-1 mxs:px-7 px-3 mxs:py-3 py-2 transition-colors duration-300 md:hover:border-b-[#CCA354] hover:shadow-[0px_0px_15px_rgba(204,163,84,0.2)];
  }
  .case-btn-b{
    @apply text-black border-y-[3px] bg-[#CCA354] md:border-transparent border-b-black border-t-transparent mxs:mt-14 3xs:mt-12 mt-10 mxs:mr-3 3xs:mr-1.5 mr-1 mxs:px-7 px-3 mxs:py-3 py-2 transition-colors duration-300 md:hover:border-b-black hover:shadow-[0px_0px_15px_rgba(204,163,84,0.2)];
  }
  .filter-btn{
    @apply px-4 py-1.5 border-2 border-[#cca354] shadow-[0px_0px_15px_rgba(204,163,84,0.2)] rounded-lg mx-2 my-1.5 text-[#cca354] mxs:text-base 2xs:text-sm text-xs font-bold hover:text-black hover:bg-[#cca354] cursor-pointer;
  }
}